In [1]:
print("Hi, Jerry")

Hi, Jerry

In [2]:
import pandas as pd
import numpy as np

In [5]:
s=pd.Series([1,2,3,np.NaN,4,5,6])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
6    6.0
dtype: float64

In [7]:
r=pd.Series([1,2,3,4,5,6,"s"])
r

0    1
1    2
2    3
3    4
4    5
5    6
6    s
dtype: object

In [8]:
d=pd.date_range('20210101',periods=12)

In [7]:
d

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df=pd.DataFrame(np.random.randn(12,4), index=d, columns=["Jerry","Jane","Joseph","Joana"])

In [10]:
df

               Jerry      Jane    Joseph     Joana
2021-01-01  1.583320 -0.645827  1.545118  1.323405
2021-01-02  0.186319  0.604801 -1.440174 -0.034071
2021-01-03 -0.977267  0.407045 -0.780088 -0.946951
2021-01-04 -0.190400  1.151393  0.323749  0.212451
2021-01-05  0.598633  0.203363 -1.058583  1.268506
2021-01-06  0.992493  0.516486  0.814341 -0.207442
2021-01-07 -0.520618  0.158041  1.067931  1.503976
2021-01-08  0.664734  1.484212 -0.404685  0.189886
2021-01-09  0.313533  1.156437 -0.737946 -1.532926
2021-01-10  0.217196 -0.050035 -0.986624  0.200715
2021-01-11 -0.025284  1.643838 -0.709167  0.061861
2021-01-12  2.805121 -0.465286  0.522294  0.039902

In [12]:
dp=pd.DataFrame({
    'A':[2,4,6,8,10],
    'B':pd.Timestamp('20210512'),
    'C':pd.Series(1,index=list(range(5)), dtype='float32' ),
    'D':np.array([6]*5, dtype='int32'),
    'E':pd.Categorical(['true','false','true','false','false']),
    'F':"JERRITO"
    })

In [13]:
dp

    A          B    C  D      E        F
0   2 2021-05-12  1.0  6   true  JERRITO
1   4 2021-05-12  1.0  6  false  JERRITO
2   6 2021-05-12  1.0  6   true  JERRITO
3   8 2021-05-12  1.0  6  false  JERRITO
4  10 2021-05-12  1.0  6  false  JERRITO

In [14]:
dp.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [16]:
dp.head()

    A          B    C  D      E        F
0   2 2021-05-12  1.0  6   true  JERRITO
1   4 2021-05-12  1.0  6  false  JERRITO
2   6 2021-05-12  1.0  6   true  JERRITO
3   8 2021-05-12  1.0  6  false  JERRITO
4  10 2021-05-12  1.0  6  false  JERRITO

In [17]:
dp.tail()

    A          B    C  D      E        F
0   2 2021-05-12  1.0  6   true  JERRITO
1   4 2021-05-12  1.0  6  false  JERRITO
2   6 2021-05-12  1.0  6   true  JERRITO
3   8 2021-05-12  1.0  6  false  JERRITO
4  10 2021-05-12  1.0  6  false  JERRITO

In [19]:
dp.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [20]:
dp.index

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [21]:
dp.describe()

               A    C    D
count   5.000000  5.0  5.0
mean    6.000000  1.0  6.0
std     3.162278  0.0  0.0
min     2.000000  1.0  6.0
25%     4.000000  1.0  6.0
50%     6.000000  1.0  6.0
75%     8.000000  1.0  6.0
max    10.000000  1.0  6.0