In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
l=pd.read_csv("MCUD.csv")
l.info();
time=pd.read_csv("TIMETABLE.csv")

print(time.info())
time.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Period                  80 non-null     int64
 1   Male_or_Female          80 non-null     object
 2   Status_before_Marriage  80 non-null     object
 3   Median_Age_at_Marriage  80 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 775 entries, 0 to 774
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IDtimetable   775 non-null    int64
 1   coursecode    775 non-null    object
 2   IDprogramme   649 non-null    object
 3   coursegrps    59 non-null     float64
 4   numbstudents  775 non-null    int64
 5   stdlevel      775 non-null    int64
 6   IDroom        775 non-null    int64
 7   roomname      775 non-null    object
 8   examPERIOD    775 non-null    object
 9   examDATE      775 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 60.7+ KB
None

,IDtimetable,coursecode,IDprogramme,coursegrps,numbstudents,stdlevel,IDroom,roomname,examPERIOD,examDATE
count,775.00000,775,649,59.000000,775.000000,775.000000,775.000000,775,775,775
unique,NaN,633,58,NaN,NaN,NaN,NaN,7,3,15
top,NaN,ENG105B,B. A. ( ARTS),NaN,NaN,NaN,NaN,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,06-May-2013
freq,NaN,59,50,NaN,NaN,NaN,NaN,327,327,112
mean,4384.00000,NaN,NaN,24.050847,54.520000,261.419355,39.869677,NaN,NaN,NaN
std,223.86752,NaN,NaN,12.496101,58.809962,113.986029,13.216633,NaN,NaN,NaN
min,3997.00000,NaN,NaN,1.000000,1.000000,100.000000,3.000000,NaN,NaN,NaN
25%,4190.50000,NaN,NaN,14.500000,13.000000,200.000000,32.000000,NaN,NaN,NaN
50%,4384.00000,NaN,NaN,25.000000,37.000000,300.000000,38.000000,NaN,NaN,NaN
75%,4577.50000,NaN,NaN,33.500000,72.000000,400.000000,48.000000,NaN,NaN,NaN
max,4771.00000,NaN,NaN,46.000000,529.000000,400.000000,87.000000,NaN,NaN,NaN

In [3]:
time.head(30)
#time.tail(30)

,IDtimetable,coursecode,IDprogramme,coursegrps,numbstudents,stdlevel,IDroom,roomname,examPERIOD,examDATE
0,3997,ENG105B,NaN,46.0,145,100,32,LARGE LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
1,3998,ENG105B,NaN,14.0,140,100,35,ASSEMBLY HALL,08:30AM - 10:30AM,08-May-2013
2,3999,ENG105B,NaN,34.0,140,100,47,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
3,4000,ENG105B,NaN,35.0,140,100,48,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
4,4001,ENG105B,NaN,10.0,130,100,33,ASSEMBLY HALL,08:30AM - 10:30AM,08-May-2013
5,4002,ENG105B,NaN,11.0,120,100,44,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
6,4003,ENG105B,NaN,12.0,120,100,77,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
7,4004,ENG105B,NaN,13.0,120,100,78,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
8,4005,ENG105B,NaN,45.0,120,100,79,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
9,4006,ENG105B,NaN,18.0,115,100,80,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
10,4007,ENG105B,NaN,3.0,115,100,81,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
11,4008,ENG105B,NaN,9.0,112,100,82,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
12,4009,ENG105B,NaN,1.0,111,100,83,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
13,4010,ENG105B,NaN,17.0,111,100,84,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
14,4011,ENG105B,NaN,2.0,109,100,85,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
15,4012,ENG105B,NaN,4.0,104,100,86,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
16,4013,ENG105B,NaN,43.0,100,100,87,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
17,4014,ENG105B,NaN,44.0,100,100,49,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
18,4015,ENG105B,NaN,42.0,90,100,50,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
19,4016,ENG105B,NaN,39.0,90,100,29,LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
20,4017,ENG105B,NaN,19.0,90,100,46,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
21,4018,ENG105B,NaN,20.0,90,100,36,CAFETERIA ROOF TOP,08:30AM - 10:30AM,08-May-2013
22,4019,ENG105B,NaN,24.0,85,100,41,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
23,4020,ENG105B,NaN,27.0,85,100,42,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
24,4021,ENG105B,NaN,41.0,85,100,34,ASSEMBLY HALL,08:30AM - 10:30AM,08-May-2013
25,4022,ENG105B,NaN,32.0,82,100,32,LARGE LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
26,4023,ENG105B,NaN,5.0,70,100,32,LARGE LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
27,4024,ENG105B,NaN,38.0,82,100,32,LARGE LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
28,4025,ENG105B,NaN,16.0,80,100,32,LARGE LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
29,4026,ENG105B,NaN,37.0,80,100,35,ASSEMBLY HALL,08:30AM - 10:30AM,08-May-2013

In [4]:
print(time.columns)
T1=time.groupby(["numbstudents","stdlevel","coursecode"]).agg({"numbstudents":"mean","coursegrps":"mean","IDroom":"min",})
T1.tail(50)

Index(['IDtimetable', 'coursecode', 'IDprogramme', 'coursegrps',
       'numbstudents', 'stdlevel', 'IDroom', 'roomname', 'examPERIOD',
       'examDATE'],
      dtype='object')

                                  numbstudents  coursegrps  IDroom
numbstudents stdlevel coursecode
161          400      BPS426               161         NaN      33
168          200      BPS221               168         NaN      47
                      BPS222               168         NaN      35
                      BPS224               168         NaN      32
169          200      BPS225               169         NaN      35
179          300      NUR307               179         NaN      48
                      NUR311               179         NaN      32
                      NUR315               179         NaN      33
                      NUR322               179         NaN      32
                      NUR324               179         NaN      32
                      NUR326               179         NaN      33
                      NUR331               179         NaN      32
                      NUR399               179         NaN      32
180          200      BPS223               180         NaN      33
181          200      NUR202               181         NaN      32
                      NUR230               181         NaN      48
186          100      ASP111B              186         NaN      33
                      ASP152B              186         NaN      33
                      LSC104               186         NaN      33
189          100      HIV101               189         NaN      48
190          100      HIV101               190         NaN      47
191          300      BPS328               191         NaN      32
192          300      BPS399               192         NaN      48
193          300      BPS321               193         NaN      32
196          300      EMG303               196         NaN      32
             400      COM402               196         NaN      48
                      COM404               196         NaN      47
200          100      ASP102B              200         NaN      32
201          300      BPS326               201         NaN      32
202          400      BPS322               202         NaN      48
204          300      EMG304               204         NaN      32
208          100      ASP103B              208         NaN      48
209          100      ASP122B              209         NaN      32
211          100      ASP148B              211         NaN      47
212          100      ASP106B              212         NaN      35
213          400      EMG405               213         NaN      32
215          100      ASP153B              215         NaN      32
220          100      ASP115B              220         NaN      47
                      ASP151B              220         NaN      48
                      LSS104               220         NaN      47
243          100      LAR120               243         NaN      32
259          100      LSC110               259         NaN      35
262          100      LED120               262         NaN      32
266          100      HIV101               266         NaN      35
284          100      ILT101               284         NaN      35
290          100      ASP131B              290         NaN      35
315          100      ASP109B              315         NaN      32
323          300      MGT311               323         NaN      32
376          100      HIV101               376         NaN      32
529          100      ILT101               529         NaN      32

In [ ]:
T1.sort_values((by="IDtimetable"), ascending 'coursecode', 'IDprogramme')