In [13]:
import pandas as pd 
import numpy as np
import seaborn as sb
import matplotlib as mp

In [2]:
a1=np.arange(100)
a1*2
lis=list(a1)
lis

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [3]:
a2=[1,2,3,5,6]
print(a2)
print(type(a2))
a3=np.array(a2)
print(a3)
type(a3)

[1, 2, 3, 5, 6]
<class 'list'>
[1 2 3 5 6]

numpy.ndarray

In [4]:
a4=np.random.randn(5,2)   #Random numbers for 5 rows 2 columns
a4

array([[-0.72274582,  1.78066867],
       [ 1.22405423, -0.3196155 ],
       [ 1.79773584, -0.46217587],
       [-0.02474556, -0.40349566],
       [ 0.11853939,  0.09381855]])

In [5]:
a5=[[2,4,6,8],[3,5,7,9],[5,10,15,20]]
np.array(a5)

array([[ 2,  4,  6,  8],
       [ 3,  5,  7,  9],
       [ 5, 10, 15, 20]])

In [6]:
b=np.array([1,2,34,5,6,7], dtype=np.float6
           4) 
b

array([ 1.,  2., 34.,  5.,  6.,  7.])

In [7]:
b1=np.arange(0,12,2)
print(b1)
print(b1[2])
b_=b1[3].copy()
print(b_)
print(b1.dtype)
print(b1.astype(np.float32))
b2=np.random.randn(1,5)
print(b2)
print(b2.dtype)
b2.astype(np.int32)
b3=np.arange(1,13,2)
print(b3)
b3>b1

[ 0  2  4  6  8 10]
4
6
int64
[ 0.  2.  4.  6.  8. 10.]
[[-0.9343589   0.76550718 -0.71544862 -0.69806206 -1.46754932]]
float64
[ 1  3  5  7  9 11]

array([ True,  True,  True,  True,  True,  True])

In [18]:
c=np.zeros((4,4))
print(c)
print(c+7)
c1=np.empty((5,5))
c1
for i in range(1):
    c1[i]=i
    print(c1)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
[[7. 7. 7. 7.]
 [7. 7. 7. 7.]
 [7. 7. 7. 7.]
 [7. 7. 7. 7.]]
[[0. 0. 0. 0. 0.]
 [1. 1. 1. 1. 1.]
 [2. 2. 2. 2. 2.]
 [3. 3. 3. 3. 3.]
 [4. 4. 4. 4. 4.]]